<div class=" home-container">
    <h1>
        ABOUT DARGROUP
    </h1>
    <div class="container-fluid">
        <div class="row  mt-5 justify-content-center">

            <div class="col-11">
                <img class="img-fluid" data-aos-duration="700" data-aos="fade-up" src="assets/images/33.jpg"
                    alt="alternatetext">
            </div>
    
    
        </div>
    </div>
   

    <div class="text mt-5">
        Dar Group for construction was established in 1997 with a group of architects, constructors and technicians to
        provide technical services in the field of construction, architecture and design of high quality projects.
        Over the years Dar Group has specialized in the high quality turn-key projects including all trades of
        electromechanical for buildings, housing and administrative projects , such a scompanies
        head quarters,exhibitions,villas,resorts,lounges and retail stores.
    </div>


    <div class="row row2">
        <div class="col-xl-8 col-sm-12">
            <img class="image img-fluid" data-aos-duration="700" data-aos="fade-up" src="assets/images/44.jpg"
                alt="alternatetext">

        </div>
        <div class="col-xl-4 col-sm-12">
            <h1>
                Philosophy
            </h1>
            <div class="text2">
                In a partnership, each person has his own skills, interests and specialties.
                This combination allows Dar Group to offer fully projects that express their client’s desires while
                adding a spirit and a style of their own, always keeping in mind the essential ideas of comfort,
                modernity and practicality.

                Attention to details in layouts, spaces, materials, custom designed furniture, accessories and fabrics,
                Dar applies the intangible rules of sophistication to their work by using the subtle alliance of
                contemporary and classical references while carefully listening to their clients’ wishes in order to
                create sophisticated and livable interiors.

                what matters most to Dar, is conveying the harmony that will exist between the owners and their home
                once the work is completed. “Home should be a place to live, not to be a cold space or an art gallery.
                What it should be is, a well designed, inviting and discreetly luxurious space where one feels
                comfortable living and entertaining”.
            </div>
        </div>
    </div>

    <div class="row row2">
        <div class="col-xl-4 col-sm-12">
            <h1>
                Vision
            </h1>
            <div class="text2">
                For over more than 15 years, Dar Group has been driven by the pursue of quality and intelligence. We use
                the creativity, imagination and knowledge of our entire team to the design and construction of each
                building with the highest quality. We believe that the quality of our surroundings directly influence
                the quality of our lives.
                We seek a long term relationship with our selected clients. This demonstrates the way we think, the way
                we are organized and the way we work, as only through working as a team, we can achieve the high
                standards which our culture demands. Picture a delivery process that maximizes value, early competion
                with no surprises and no conflict.

                We shape a better world as we hope to enhance prosperity, quality of life and deliver value.
            </div>
        </div>
        <div class="col-xl-8 col-sm-12">
            <img class="image img-fluid" data-aos-duration="700" data-aos="fade-up" src="assets/images/55.jpg"
                alt="alternatetext">

        </div>

    </div>
<div class="container-fluid">
    <div class="row row2 mb-5">
        <div class="col-xl-8 col-sm-12">
            <img class="image img-fluid" data-aos-duration="700" data-aos="fade-up" src="assets/images/66.jpg"
                alt="alternatetext">

        </div>
        <div class="col-xl-4 col-sm-12">
            <h1>
                The Team
            </h1>
            <div class="text2">
                In 1997 Dar Group started with a staff of an average 70 of highly qualified architects, constructors,
                and technicians; in addition to a group of subcontractors who developed significantly over the years to
                become a highly skilled professional team, only to provide unique and professional quality in the
                construction field.
                Most of Dar Group employees are certified in green buildings design as (LEED) accredited professionals
                by the council. The staff is trained and experienced with respect to commissioning and (LEED)
                requirements.
            </div>
        </div>
    </div>
</div>
 

</div>