:host {
    display: block;
}

.home-container {
    color: var(--col-pale);
    font-family: "roboto-reg";
    overflow-y: hidden;
}



i {
    color: black;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;

}

.text {
    color: black;
    font-family: "Plex Sans", sans-serif, Icons;
    font-size: 30px;
    font-weight: 400;
}



.text2 {
    color: grey;
    font-size: 18px;

    align-items: center;
}



@media only screen and (min-width: 320px) {
    .row2 {
        margin-left: 20px;
        margin-right: 20px;
    }

    .text {
        margin-left: 20px;
        margin-right: 20px;
        font-size: 21px;

    }
    .image {

        margin-top: 50px;
    }
    h1{
        font-size: 27px;
        text-align: center;
        margin-top: 50px;
        color: black;
        font-family: "Plex Sans", sans-serif, Icons;
    }
    
}

@media only screen and (min-width: 800px) {
    .row2 {
        margin-left: 65px;
        margin-right: 65px;
    }

    .text {
        margin-left: 75px;
        margin-right: 75px;
        font-size: 25px;
        font-weight: 400;
    }
    .image {

        margin-top: 110px;
    }
    h1{
        font-size: 40px;
        text-align: center;
        margin-top: 50px;
        color: black;
        font-family: "Plex Sans", sans-serif, Icons;
    }
  

}