<div class="body">
    <div style="height:20px">

    </div>
    <h2 class="head" >
        CONTACT US
    </h2>
    <div >
        <div class="col d-flex justify-content-center">
            <div class="card ">
                <div class="card-body row">
                    <div class="col">
                        <h2>
                            DARGROUP
                        </h2>
                        <p class="">
                            Building 222 , New Cairo -11835 - Cairo-Egypt.
                        </p>
                        <p>
                            +202 25644499 - (+20122)-2111548 </p>
                        <p>
                            info @dar-group.net </p>
                    </div>
    
    
                    <svg  xmlns="http://www.w3.org/2000/svg"  fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                        <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10"/>
                        <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                      </svg>
                </div>
            </div>
        </div>
            
       
    </div>
    <div class="  justify-content-center  mt-3">
        <iframe class="col-lg-4 col-md-10 col-sm-10"  style="margin-top:100px"
            src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3454.7574722765958!2d31.440629975552604!3d30.015119574938353!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMzDCsDAwJzU0LjQiTiAzMcKwMjYnMzUuNSJF!5e0!3m2!1sen!2seg!4v1704796821861!5m2!1sen!2seg"
            width="600" height="350" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>

    </div>

</div>
