
<nav class="navbar navbar-dark ">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
<div class="collapse" id="navbarToggleExternalContent" data-bs-theme="dark">
  <ul class="nav ul h-auto nav-underline justify-content-center">
    <li class="nav-item">
      <a class="nav-link " routerLink="/home">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/projects">Projects</a>
    </li>
    <div class="dropdown nav-item" >
      <a class="nav-link " routerLink="/services" data-toggle="dropdown">
        Services
      </a>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="#">Dar Management</a></li>
        <li><a class="dropdown-item" href="#">Dar Design Studio</a></li>
        <li><a class="dropdown-item" href="#">Dar Construction</a></li>
        <li><a class="dropdown-item" routerLink="/furniture">Dar FF&E</a></li>
      </ul>
    </div>

    <li class="nav-item">
      <a class="nav-link" routerLink="/about-us">About Us</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="">Media</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/contact">Contact</a>
    </li>
  </ul>
</div>

<router-outlet>
