<div class="container-fluid header">
    <div>
        <div id="carouselExampleAutoplaying" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="assets/images/e-lounge/1.jpg" class="d-block w-100" alt="...">

                </div>
                <div class="carousel-content">
                    <h1>CAIRO AIRPORT-E-LOUNGE</h1>
                </div>
                <div class="carousel-item" *ngFor="let image of _albums; let i=index">
                    <img src="{{image.thumb}}" />
                </div>

            </div>
            <button class="carousel-control-prev" type="button" data-target="#carouselExampleAutoplaying"
                data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-target="#carouselExampleAutoplaying"
                data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row mt-5 justify-content-center">
            <div class="col-lg-5 col-6">
                <img class="  img-thumbnail " data-aos-anchor-placement="top-center" data-aos-duration="700"
                    data-aos="fade-up" src="assets/images/e-lounge/3.jpg" alt="alternatetext">
            </div>
            <div class="col-lg-5 col-6">
                <img class="  img-thumbnail " data-aos-anchor-placement="top-center" data-aos-duration="700"
                    data-aos="fade-up" src="assets/images/e-lounge/4.jpg" alt="alternatetext">
            </div>
    
    
        </div>
    </div>
   <div class="container-fluid">
    <div class="row justify-content-center mt-5">
        <div class="col-lg-7 col-9">
            <img class="  img-thumbnail " data-aos-anchor-placement="top-center" data-aos-duration="700"
                data-aos="fade-up" src="assets/images/e-lounge/5.jpg" alt="alternatetext">
        </div>
    </div>
   </div>
   <div class="container-fluid">
    <div class="row justify-content-center mt-5">
        <img class="col-10 col-lg-10 mt-lg-5 mt-1" data-aos-anchor-placement="top-center" data-aos-duration="700" data-aos="fade-up"
            src="assets/images/e-lounge/10.jpg" alt="alternatetext">
    </div>
   </div>
    <div class="container-fluid">
        <div class="row mt-5 justify-content-center">
            <div class="col-lg-5 col-6">
                <img class="  img-thumbnail " data-aos-anchor-placement="top-center" data-aos-duration="700"
                    data-aos="fade-up" src="assets/images/e-lounge/8.jpg" alt="alternatetext">
            </div>
            <div class="col-lg-5 col-6">
                <img class="  img-thumbnail " data-aos-anchor-placement="top-center" data-aos-duration="700"
                    data-aos="fade-up" src="assets/images/e-lounge/9.jpg" alt="alternatetext">
            </div>
    
    
        </div>
    </div>
    <div class="container-fluid"> 
        <div class="row justify-content-center mt-5">
            <div class="col-lg-7 col-9">
                <img class="  img-thumbnail " data-aos-anchor-placement="top-center" data-aos-duration="700"
                    data-aos="fade-up" src="assets/images/e-lounge/12.jpg" alt="alternatetext">
            </div>
        </div>
    </div>
   

</div>