<div class="container-fluid header" >
    <div>
        <div id="carouselExampleAutoplaying" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="assets/images/villa/1.JPG" class="d-block w-100" alt="...">

                </div>
                <div class="carousel-content">
                    <h1>PRIVATE VILLA</h1>
                </div>
                <div class="carousel-item" *ngFor="let image of _albums; let i=index">
                    <img src="{{image.thumb}}" />
                </div>

            </div>
            <button class="carousel-control-prev" type="button" data-target="#carouselExampleAutoplaying"
                data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-target="#carouselExampleAutoplaying"
                data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row mt-5 justify-content-center">
            <div class="col-6 col-lg-5">
                <img class="  img-thumbnail " data-aos-anchor-placement="top-center" data-aos-duration="700"
                    data-aos="fade-up" src="assets/images/villa/3.JPG" alt="alternatetext">
            </div>
            <div class="col-6 col-lg-5">
                <img class="  img-thumbnail " data-aos-anchor-placement="top-center" data-aos-duration="700"
                    data-aos="fade-up" src="assets/images/villa/4.JPG" alt="alternatetext">
            </div>
    
    
        </div>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-center mt-5">
            <div class="col-9 col-lg-7">
                <img class="  img-thumbnail " data-aos-anchor-placement="top-center" data-aos-duration="700"
                    data-aos="fade-up" src="assets/images/villa/7.JPG" alt="alternatetext">
            </div>
        </div>
    </div>
   
    <div class="container-fluid">
        <div class="row justify-content-center mt-5">
            <img class="col-lg-10 col-10 mt-1 mt-lg-5" data-aos-anchor-placement="top-center" data-aos-duration="700" data-aos="fade-up"
                src="assets/images/villa/2.JPG" alt="alternatetext">
        </div>
    </div>
    
    <div class="container-fluid">
        <div class="row mt-5 justify-content-center">
            <div class="col-lg-5 col-6">
                <img class="  img-thumbnail " data-aos-anchor-placement="top-center" data-aos-duration="700"
                    data-aos="fade-up" src="assets/images/villa/5.JPG" alt="alternatetext">
            </div>
            <div class="col-lg-5 col-6">
                <img class="  img-thumbnail " data-aos-anchor-placement="top-center" data-aos-duration="700"
                    data-aos="fade-up" src="assets/images/villa/6.JPG" alt="alternatetext">
            </div>
    
    
        </div>
    </div>
    
    <div class="container-fluid">
        <div class="row justify-content-center mt-5">
            <div class="col-lg-7 col-9">
                <img class="  img-thumbnail " data-aos-anchor-placement="top-center" data-aos-duration="700"
                    data-aos="fade-up" src="assets/images/villa/10.JPG" alt="alternatetext">
            </div>
        </div>
    </div>
    

</div>