<div class="container-fluid ">
    <div class=" row justify-content-left " >
        <div class=" logo">
            <img class="img-fluid" src="/assets/images/2.png" alt="alternatetext">
        </div>


    </div>
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <img class="img-fluid dar"  src="assets/images/dar.jpg"
            alt="alternatetext">
        </div>

    </div>

    <div class="row justify-content-center">
        <div class="col-lg-10">
            <marquee class=" moving mt-5 "> THE ULTIMATE DESIGN DESTINATION </marquee>

        </div>

    </div>


    <div class="row justify-content-center  ">
        <div class=" col-6 col-lg-5">

            <div class="image-container" data-aos-duration="700"
            data-aos="fade-up">
                <a routerLink="/ahlen">
                    <img class="  img-thumbnail " 
                        src="assets/images/ahlen/1.jpg" alt="alternatetext">
                </a>

            </div>

            <p icon-link icon-link-hover href="#">AHLEIN PREMIUM LOUNGE-CAIRO AIRPORT </p>
        </div>

        <div class="col-lg-5 col-6">
            <div class="image-container" data-aos-anchor-placement="top-center" data-aos-duration="700"
                data-aos="fade-up">
                <a  routerLink="/f-lounge">
                    <img class="  img-thumbnail " style="margin-top: 50px;" data-aos-anchor-placement="top-center"
                        data-aos-duration="700" data-aos="fade-up" src="assets/images/f-lounge/1.jpeg" alt="alternatetext">
                </a>

            </div>

            <p>CAIRO AIRPORT-F-LOUNGE</p>

        </div>



    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-lg-5 col-6">
            <div class="image-container">
                <a routerLink="/e-lounge">
                    <img class="  img-thumbnail " data-aos-duration="700" data-aos="fade-up"
                        src="assets/images/e-lounge/1.jpg" alt="alternatetext">
                </a>

            </div>

            <p href="#">CAIRO AIRPORT-E-LOUNGE
            </p>
        </div>

        <div class="col-lg-5 col-6">
            <div class="image-container">
                <a routerLink="/villa">
                    <img class="  img-thumbnail " style="margin-top: 50px;" data-aos-duration="700" data-aos="fade-up"
                        src="assets/images/villa/1.JPG" alt="alternatetext">
                </a>

            </div>

            <p href="#">PRIVATE VILLA

            </p>


        </div>



    </div>
</div>